
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #c6c8c9;
    overflow-x: hidden;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo {
        width: 100px;
        height: auto;
    }

    nav{
        display: block;
        text-align: right;
        word-spacing: 10px;

        a{
            color: #050602;
            text-decoration: none;
            
            &:hover {
                color: #94382c;
            }
        }
    }
}

#assessmentForm{
    display: flex;
    flex-direction: column;
    width: 80dvw;

    fieldset{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;

        .location-fieldset{
            display: flex;
        }
        
        .hazard-fieldset{
            display: flex;
        }
    }
}
             .location-text{
                width: 70vw;
            }
            .location-options-container, .hazard-options-container{
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-width: none;
                height: 25dvh;
            }

            .hazard-options{
                display: flex;
                flex-direction: row; 
                gap: 20px;
            }
            .hazard-text{
                display: flex;
                flex-direction: row;
                width: 33vw;
                gap: 20px;
            }

            .submit-button{
                align-self: center;
                width: 50%;
                padding: 10px;
                background-color: #06609f;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                
                &:hover {
                    background-color: #054a7a;
                }
            }


            input[type="radio"]{
                opacity: 0;
                width: 0;
                height: 0;
                pointer-events: none;

                + span {
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    background-color:#668597;
                    color: white;
                    text-align: center;
                    transition: all 0.3s ease;

                    
                      &:hover {
                        background-color:#06609f;
                        color: white;
                    }

                    img{
                        width: 50px;
                        height: 50px;
                    }

                }

                &:checked + span {
                    background-color: #94382c;
                    color: white;
                }
            }
            
    .action-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .contact-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

#report,#about,#contact {
    display: none;
}

#report.show,#about.show,#contact.show{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    margin: 0;
    padding: 0;
    border: none;


        .location-field{
            display: flex;
            flex-direction: column;
        }
        
        .hazard-field{
            display: flex;
            flex-direction: column;
        }
        
        #about-field{
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 0;
            height: 100%;
            
            
            .about-text{
                padding: 50px;
                width: 93dvw;
                height: 100%;
                flex-direction: column;

                h1,h2{
                    margin-bottom: 0;
                }
            }


            .about-sevice{
                display: flex;
                align-items: center;
                width: 99dvw;
                height: 100%;
                flex-direction: column;
                background-color: #668597;
                gap: 15px;
                padding: 50px 0;

                h2{
                    color: #94382c;
                    align-self: left;
                    margin: 0;
                }

                .service-item{
                    display: flex;
                    flex-direction: column;
                    background-color:  #c6c8c9;
                    padding: 10px;
                    width: 60dvw;
                    height: 200px;
                }

                #step1,#step3{
                    border-radius: 0 50rem 50rem 0;
                    align-self: flex-start;
                }
                #step2,#step4{
                    border-radius: 50rem 0 0 50rem;
                    align-self: flex-end;
                }
            }
        

        }

        #contact-field{
            display: flex;
            flex-direction: column;
        }
    

}
