
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #c6c8c9;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 100px;
        height: auto;
    }

    nav{
        display: block;
        text-align: right;
        word-spacing: 10px;

        a{
            color: #050602;
            text-decoration: none;
            
            &:hover {
                color: #94382c;
            }
        }
    }
}

#assessmentForm{
    display: flex;
    flex-direction: column;
    width: 80dvw;

    fieldset{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;

        .location-fieldset{
            display: flex;
        }
        
        .hazard-fieldset{
            display: flex;
        }
    }
}

            .hazard-options{
                display: flex;
                flex-direction: row; 
                gap: 20px;
            }
            .location-text{
                width: 70vw;
            }
            .hazard-text{
                display: flex;
                flex-direction: row;
                width: 33vw;
                gap: 20px;
            }

            .submit-button{
                align-self: center;
                width: 50%;
                padding: 10px;
                background-color: #06609f;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                
                &:hover {
                    background-color: #054a7a;
                }
            }


            input[type="radio"]{
                opacity: 0;
                width: 0;
                height: 0;
                pointer-events: none;

                + span {
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    background-color:#668597;
                    color: white;
                    text-align: center;
                    transition: all 0.3s ease;

                    
                      &:hover {
                        background-color:#06609f;
                        color: white;
                    }

                    img{
                        width: 50px;
                        height: 50px;
                    }

                }

                &:checked + span {
                    background-color: #94382c;
                    color: white;
                }
            }
            
    .action-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .contact-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

#report {
    display: none;
}
#report.show{
    display: block; 
}