header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    border-bottom: 1px solid var(--border);
}

header img {
    height: 50px;
}

header .btn-generic {
    display: none;
}

.nav-overlay {
    inset: 0;
    width: 100%;
    height: 100%;

    display: none;

    position: fixed;

    background-color: transparent;
    border: none;
}

.nav-list {
    display: flex;

    position: relative;

    gap: 1rem;

    padding: 0;
    margin: 0;

    list-style: none;
}

.nav-list button {
    appearance: none;
    border: none;
    background: none;

    cursor: pointer;

    padding: 1rem 2rem;
}

@media (max-width: 600px) {
    header {
        padding: 0.5rem 0.75rem;
    }

    header img {
        height: 35px;
    }

    header .btn-generic {
        height: 2.5rem;
        width: 2.5rem;

        display: block;

        padding: 0;

        border-radius: 0.35rem;
    }

    .nav-list {
        display: none;
    }
}

.nav-overlay.nav-open {
    display: block;

    z-index: 99;
}

.nav-list.nav-open {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0;

    position: absolute;

    translate: 0 0.5rem;
    right: 0.75rem;

    background-color: var(--surface-2);

    border: 1px solid var(--border);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    z-index: 100;
}

.nav-list.nav-open li {
    border-bottom: 1px solid var(--border);
}

.nav-list.nav-open li:last-child {
    border-bottom: 0;
}