.checklist-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    margin: 10px;
    top: 0;

    border-style: solid;
    border-width: 2px;
    border-color: var(--contacts-border);
    border-radius: 5px;
}

.checklist-header {
    margin-top: 0;
}

.checklist-item {
    display: flex;
    align-items: center;
    gap: 16px;

    cursor: pointer;
    text-align: left;

    font-size: 15px;
    padding: 20px;

    background: var(--option-bg);
    border: 1px solid var(--option-border);
    border-radius: 4px;

    font-weight: bold;
    transition: color 0.33s ease, background-color 0.33s ease, text-decoration 0.33s ease;
}

.checklist-item-checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checklist-item:has(.checklist-item-checkbox:checked) {
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;

    color: var(--checklist-text-checked);
    background-color: var(--checklist-bg-checked);
}

.checkmark {
    position: relative;
    width: 25px;
    height: 25px;

    /* background-color: rgba(0, 0, 0, 0); */
    border-style: solid;
    border-color: var(--checkmark-border);

    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    transition: border-color 0.3s;

    flex-shrink: 0;
}

.checklist-item:hover .checkmark {
    border-color: var(--checkmark-border-hover);
}

.checklist-item:hover .checkmark:after {
    border-color: var(--checkmark-border-checked);
}

.checkmark:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--checkmark-check-icon);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;

    transition: border-color 0.3s;
}

.checklist-item-checkbox:checked + .checkmark:after {
    display: block;
}