#contact-section {
    display: none;
}

#contact-section.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;

    h1 {
        margin: 0;
        font-size: 4rem;
    }
}

.contact-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    gap: 16px;

    span {
        height: 100%;
        border-left: 2px solid var(--contacts-border);
    }
}

.contact-card {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    padding: 16px;
    gap: 8px;
    top: 0;
    width: 200px;
    height: 100%;
    border-radius: 12px;

    img {
        width: 50px;
        height: 50px;
    }

    a {
        text-decoration: none;
        color: var(--option-border-checked);
    }

    p {
        margin: 0;
    }

    &:hover{
        box-shadow: 0 4px 12px var(--text);
        transform: translateY(-5px);
        transition: all 0.5s ease;
    }
}