.contactlist-block {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--contacts-border);
    border-radius: 5px;

    padding: 20px;
}

.contactlist-item {
    font-size: 15px;
    text-align: left;
}

.contactlist-header {
    margin-top: 0;
}