#container {
    display: grid;
    grid-template-rows: 1fr 5px;
}

.form-template-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    overflow: auto;
}

.form-block {
    width: 400px;
    gap: 16px;
}

.questions-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.question-text {
    margin-bottom: 20px;
}

.subtext {
    margin: 5px 0 10px;
    color: rgba(255, 255, 255, 0.5);
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 60dvh;
    overflow-y: auto;
}

.option-label {
    cursor: pointer;
}

.option-label input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.option-button {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 14px 16px;
    background: var(--option-bg);
    border: 1px solid var(--option-border);
    border-radius: 0px;
    font-weight: bold;
    transition: background 0.18s ease, border-color 0.18s ease;
}

.option-label:hover .option-button {
    border-color: var(--option--bg-hover);
    background: var(--option-border-hover);
    color: var(--text-secondary);
}

.option-label input:checked + .option-button {
    background: var(--option-bg-checked);
    border-color: var(--option-border-checked);
    color: var(--text-secondary);
}

.btn-container {
    /* position: fixed;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);

    height: 100px; */
    /* width: 600px; */

    padding: 10px 0px;
    background-color: var(--bg);

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;

    border-top: 1px solid var(--toast-border);
}

.btn-submit {
    padding: 10px 24px;
    background: var(--button-bg);
    transition: background 0.18s ease, border-color 0.18s ease;
    color: var(--text-secondary);
    border: 1px solid var(--button-border);
    border-radius: 0px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

    width: 115px;

    height: 50px;
}

.not-selectable {
    background: var(--toast-neutral);
}

.btn-submit:hover {
    background: var(--button-bg-hover);
}

.hidden {
    display: none;
}