
.form-template-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
    height: 87vh;
    top: 0;
    bottom: 0;
    gap: 16px;
    padding: 20px;
}
.form-container {
    flex: 1;
    text-align: left;

    h1{
        font-size: 5rem;
        margin: 0;
    }
}
.form-block {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 16px;
    height: 100%;
    padding: 20px;
    padding-left: 40px;
    border-left: 2px solid var(--text);
}

.questions-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.question-block {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}
.question-text{
    margin-top: 0px;
    margin-bottom: 10px;
    padding:0;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.option-label {
    cursor: pointer;
}

.option-label input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.option-button {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 14px 16px;
    background: var(--option-bg);
    border: 1px solid var(--option-border);
    border-radius: 4px;
    font-weight: bold;
    transition: background 0.18s ease, border-color 0.18s ease;
}

.option-label:hover .option-button {
    border-color: var(--option--bg-hover);
    background: var(--option-border-hover);
    color: var(--text-secondary);
}

.option-label input:checked + .option-button {
    background: var(--option-bg-checked);
    border-color: var(--option-border-checked);
    color: var(--text-secondary);
}

.btn-submit {
    display: inline-block;
    padding: 10px 24px;
    background: var(--button-bg);
    transition: background 0.18s ease, border-color 0.18s ease;
    color: var(--text-secondary);
    border: 1px solid var(--button-border);
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}

.btn-submit:hover {
    background: var(--button-bg-hover);
}

.hidden {
    display: none;
}