* {
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

html, body {
    overscroll-behavior: none;
}

::webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
}