* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
}

main {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
     /* 
    margin: 0 auto;
   max-width: 50vh; */
}