* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    -webkit-user-select: none;
    user-select: none;
}

main {
    text-align: center;
    margin: 0 auto;
    max-width: 50vh;
}