#home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    height: 100dvh;

    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;

    h1{ 
        margin:0;
        font-size: 4rem;
    }
}

#form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    height: 100dvh;
}