@media (max-width: 480px) {
    main{
        padding: 20px;
        margin: 0;
    }
    h1{
        font-size: 2rem !important;
    }

    #footer{
        display: none;
    }

    .contact-container {
        position: relative;
        height: fit-content;

        width: 90dvw;

        h3{
            font-size: 16px;
            margin: 0;
    }

    .contact-cards span{
            display: none;
    }

    .contact-cards{
        flex-direction: column;
        width: 100dvw;

        justify-content: left;
        margin-left: 0;
    }

    .contact-card{
        flex-direction: row !important;
        width: 75dvw !important;
        height: 70px !important;
        padding: 12px  !important;

        img{
            width: 32px;
            height: 32px;
            margin-left: 12px;
            margin: 5px;
        }
    }

    .contact-card-text{
        text-align: left;

        }
        p{
            font-size: 12px;
        }
    }

    #about-section{
        margin: 0 !important;
    }

    .about-container{
        position: relative;
        height: fit-content;
    }

    .about-section-text{
        p{
            font-size: 12px;
        }
    }

    .about-section-use{
        width: 100%;
    }

    .about-section-use-2{
        flex-direction: column !important;;
        div{
            width: 90% !important;;
        }
    }

    .use-content{
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }

    .use-item{
        width: 90dvw !important;
        height: fit-content !important;

        h3{
            font-size: 1.3rem !important;
        }
        h4{
            font-size: 14px;
            margin: 0;
        }
        p{
            font-size: 12px
        }
    }

    .use-icon-container{
        height: 45px !important;
    }

    .use-icon{
        width: 32px !important;
        height: 32px !important;
    }

    .form-template-container{
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .form-instructions{
        display: none;
    }

    .form-container{
        display: none;
    }

    .btn-container{
        height: 60px;
    }

    .checklist-block{
        margin: 0;
    }
    .contactlist-block{
        flex-direction: column;
        margin: 0;
    }
}