@media (max-width: 480px) {
    main {
        /*max-width: 300px;*/
        flex-direction: column;
    }

    #footer{
        display: none;
    }

    .contact-container {
        position: relative;
        height: fit-content;
    }


    .contact-cards span{
            display: none;
    }

    .contact-cards{
        flex-direction: column;
        width: 100dvw;

        justify-content: left;
        margin-left: 0;
    }
    .contact-card{
        flex-direction: row !important;
        width: 90dvw !important;
        height: 70px !important;
        padding: 10px;
    }
    .contact-card-text{
        text-align: left;

        h3{
            font-size: 16px;
            margin: 0;
        }
        p{
            font-size: 12px;
        }
    }

    .about-section-text{
        p{
            font-size: 12px
        } 
    }
    .use-item{
        width: 100dvw;
        height: 100px;
        p{
            font-size: 12px
        }
    }


    .form-template-container{
    flex-direction: column;
    padding: 0;
    gap:0;
    }

    .form-container{
        display: none;
    }

    .form-block{
        padding-left: 20px;
        width: 100dvw;
        border: none;
        height: fit-content;
    }

    .checklist-block{
        width: 80dvw;
        margin: 0;
    }
    .contactlist-block{
        flex-direction: column;
        width: 80dvw;
        margin: 0;
    }
}