:root {
    /* === Surface & Background === */
    --color-background: #f7f7f7;
    --color-surface: ; /* Overylays on top of the background */
    --color-surface-elevated: ; /* An overlay for the overlay */

    /* === Text === */
    --color-text-primary: ; /* Main text */
    --color-text-secondary: ; /* Subtle Text */
    --color-text-inverted: ; /* TODO Determine if needed */

    /* === Borders === */
    --color-border: #373737;
    --color-border-light: #969696; /* Dividers */

    /* === Interactive === */
    --color-accent: #e8e8e8 ; /* Primary button background */
    --color-accent-hover: #c4c4c4;

    /* === Feedback === */
    --color-success: #00e535;
    --color-neutral: ;
}