* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

html {
    scrollbar-gutter: stable both-edges;
}

body {
    margin: 0;

    font-family: Aptos, Arial, Helvetica, sans-serif;

    background-color: var(--color-background);
}