.navbar-container {
    padding: 20px;

    display: flex;

    border-bottom: 1px solid var(--color-border-light);
}

.navbar {
    margin-left: auto;

    display: flex;
    gap: 8px;

    a {
        text-decoration: none;
    }
}