.navbar-container {
    display: flex;

    border-bottom: 1px solid var(--color-border-light);

    img {
        width: 100px;
        height: 47.7167px;

        padding: 5px 10px;
    }
}

.navbar {
    margin-left: auto;

    display: flex;
    align-items: center;

    margin-right: 10px;

    gap: 8px;

    a {
        text-decoration: none;
    }
}