.main-contact {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    text-align: center;
}

.contact-information {
    text-align: center;
}

.contact-information a {
    color: var(--primary);
}

.contact-information h3 {
    margin-bottom: 0;
}

.contact-information h4 {
    margin: 0;
}

.contact-list a {
    color: var(--primary);
}
