.main-result {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    padding-bottom: 1rem;
}

.dropdown {
    width: 50dvw;

    padding: 1rem;

    border: 1px solid black;
}

.dropdown summary {
    list-style: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown summary::marker {
    content: "";
    font-size: 1.5rem;
}

.dropdown summary::after {
    content: "▾";
    font-size: 1.5rem;
}

details[open] summary::after {
    transform: rotate(180deg);
}

.dropdown ul li {
    margin-bottom: 1rem;
}

@media (max-width: 950px) {
    .dropdown {
        width: 90dvw;
    }
}
