:root {
    color-scheme: light;
}

:root.dark {
    color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --surface: #1C1E26;
        --surface-2: #262933;
        --surface-3: #313542;

        --text: #F0F4FA;
        --text-secondary: #B0B8C8;

        --border: rgba(255, 255, 255, 0.10);

        --hover: #3A3F4F;
        --active: #464C5E;
        --checked: #7A2020;

        --primary: #ca3636;
    }

    :root.light {
        --surface: #f0f0f0;
        --surface-2: #f7f7f7;
        --surface-3: white;

        --text: black;

        --border: rgba(0, 0, 0, 0.5);

        --hover: #dcdcdc;
        --active: #cccccc;
        --checked: #ff9999;

        --primary: #942121;
    }
}
