/* ----- General CSS ----- */
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100dvh;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

button, input, select, textarea {
    font-family: inherit;
}

/* ----- Generic ----- */

.btn-generic {
    appearance: none;
    border: 1px solid black;

    cursor: pointer;

    padding: 1rem;
    width: 10rem;
}

@media (max-width: 600px) {
    .root {
        height: 100%;
        min-height: 0;
        gap: 0;
    }
}

@media (max-width: 350px) {
    .btn-generic {
        width: 7.5rem;
    }
}
